services:
  kiroshi:
    build: .
    container_name: kiroshi
    restart: unless-stopped
    ports:
      - "${PORT}:${PORT}"
      - "${TORRENT_PORT}:${TORRENT_PORT}"
    environment:
      - PORT=${PORT}
      - TORRENT_PORT=${TORRENT_PORT}
      - TORRENT_STORAGE_LIMIT_GB=${TORRENT_STORAGE_LIMIT_GB}
      - TMDB_API_KEY=${TMDB_API_KEY}
      - PROWLARR_BASE_URL=${PROWLARR_BASE_URL}
      - PROWLARR_API_KEY=${PROWLARR_API_KEY}
    depends_on:
      - prowlarr

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ./prowlarr-config:/config
    ports:
      - "9696:9696"
    restart: unless-stopped

networks:
  default:
    name: kiroshi-network
